* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: blueviolet;
    color: white;
    padding: 1rem;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 1rem;
}
main{
    height: 83vh;
    padding: 2rem 5rem;
        
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: #fff;
    font-weight: bold;    
    padding: 1rem;
}